@charset "UTF-8";
* {
  vertical-align: top;
  font-family: 微軟正黑體;
  backface-visibility: hidden;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(45deg, #1a001a 0%, white 100%);
  background-size: 400% 400%;
  animation: background 5s linear infinite;
}
@keyframes background {
  0% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 30%;
  }
}

h2 {
  margin-bottom: 30px;
  color: #585858;
}

button {
  background-color: transparent;
  border: none;
  border: solid 1px;
  padding: 4px 12px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  vertical-align: middle;
}
button:hover {
  background-color: #585858;
  color: white;
}

.notes_list li {
  display: inline-block;
  border-right: solid 1px;
  padding: 2px 5px;
  cursor: pointer;
  transition: 0.3s;
}
.notes_list li:hover {
  background-color: #d5d5d5;
}
.notes_list li.playing {
  background-color: #d5d5d5;
}
.notes_list li .time {
  font-size: 8px;
  opacity: 0.3;
}
.notes_list li .num {
  font-size: 16px;
}

.centerbox {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.keyboard {
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin-bottom: 30px;
}

.pianokey {
  display: inline-block;
  position: relative;
}

.white.playing {
  background-color: #d5d5d5;
  transform: translate(0px, 0px);
  box-shadow: 0px -20px 40px -5px #eee;
}

.black.playing {
  background-color: #727272;
  transform: translate(0px, 0px);
  box-shadow: 0px -20px 40px -5px #eee;
}

.white {
  width: 44px;
  height: 300px;
  border: solid 1px #eee;
  cursor: pointer;
  transform: translate(-3px, -3px);
  transition: 0.1s;
}
.white:hover {
  transform: translate(0px, 0px);
  background-color: #eee;
}

.black {
  width: 22px;
  height: 165px;
  background-color: #585858;
  margin-left: -11px;
  margin-right: -11px;
  position: absolute;
  top: 0px;
  z-index: 1;
  cursor: pointer;
  transform: translate(-3px, -3px);
  transition: 0.1s;
}
.black:hover {
  transform: translate(0px, 0px);
  background-color: #3f3f3f;
}

.label {
  position: absolute;
  color: rgba(88, 88, 88, 0.5);
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
}

i {
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 3px;
}

i.fa-circle, i.fa-stop {
  color: #cc0000;
}

.samplebox {
  position: relative;
  margin-bottom: 10px;
}
.samplebox h3 {
  color: #585858;
  margin-bottom: 0px;
}

.sample {
  border: solid 1px #eee;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.sample .pic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 130%;
  cursor: pointer;
  transition: 0.3s;
}
.sample .pic:hover {
  background-size: 150%;
  transform: scale(1.1);
}
.sample .pic1 {
  background-image: url("https://i.imgur.com/O3uBNQG.png");
}
.sample .pic2 {
  background-image: url("https://i.imgur.com/fNpCZDB.jpg");
}
.sample .pic3 {
  background-image: url("https://i.imgur.com/1WR68qF.jpg");
}
